---
import Seo from "@/components/Seo.astro"
import "@/layouts/main.css"

import AboutSection from "@/components/sections/AboutSection.astro"
import AptitudesSection from "@/components/sections/AptitudesSection.astro"
import CertificationsSection from "@/components/sections/CertificationsSection.astro"
import EducationSection from "@/components/sections/EducationSection.astro"
import ExperienceSection from "@/components/sections/ExperienceSection.astro"
import HeroSection from "@/components/sections/HeroSection.astro"
import LanguagesSection from "@/components/sections/LanguagesSection.astro"
import SkillsSection from "@/components/sections/SkillsSection.astro"

const lang = Astro.currentLocale
---

<html lang={lang}>
  <head>
    <Seo />
  </head>
  <body class='w-full'>
    <main class='w-[700px] mx-auto max-w-full md:py-14 py-8'>
      <div
        class='grid print:gap-2 relative'
      >
        <HeroSection />
        <AboutSection />
        <ExperienceSection />
        <EducationSection />
        <CertificationsSection />
        <SkillsSection/>
        <AptitudesSection />
        <LanguagesSection />
      </div>
    </main>
  </body>
</html>
