---
import { resume } from "@/data/resume"
import Section from "../Section.astro"

const lang = Astro.currentLocale
---

<Section title='Sobre mi'>
  <p class='print:mt-1 font-size-content'>
    {lang === "en" && resume.aboutMe.en}
    {lang === "es" && resume.aboutMe.es}
  </p>
</Section>
