---
import Section from "@/components/Section.astro"
import { resume } from "@/data/resume"
---

<Section title={"Aptitudes"}>
  <div class='grid gap-2 print:mt-5'>
    {
      resume.aptitudes.map((aptitud) => (
        <p class='flex items-center gap-2 font-size-content'>
          <span class='font-bold'>&bullet;</span>
          <span class=''>{aptitud}</span>
        </p>
      ))
    }
  </div>
</Section>
