---
import Section from "@/components/Section.astro"
---

<Section class='print:mt-[30px] print:mx-0' title={"Aptitudes"}>
  <div class='grid gap-2 print:mt-5'>
    <p class='flex items-center gap-2 text-sm md:text-base'>
      <span class='font-bold'>&bullet;</span>
      <span>Trabajo en equipo</span>
    </p>
    <p class='flex items-center gap-2 text-sm md:text-base'>
      <span class='font-bold'>&bullet;</span>
      <span>Iniciativa</span>
    </p>
    <p class='flex items-center gap-2 text-sm md:text-base'>
      <span class='font-bold'>&bullet;</span>
      <span>Comunicacion efectiva</span>
    </p>
    <p class='flex items-center gap-2 text-sm md:text-base'>
      <span class='font-bold'>&bullet;</span>
      <span>Disciplina</span>
    </p>
  </div>
</Section>
