---
import Section from "../Section.astro"
---

<Section title='Certificaciones'>
  <div class='flex flex-col gap-4 mt-2 print:mt-4'>
    <section class='flex flex-col gap-2 print:gap-0 print:p-0'>
      <header class='flex md:justify-between items-center'>
        <h3 class='text-base font-bold print:text-sm text-neutral-600'>
          Digital NAO - TEC Milenio
        </h3>
      </header>
      <footer class='text-sm print:text-[12px] print:mt-1 font-mono max-w-md'>
        <p>Certificacion en Full Stack Developer Core - BBVA</p>
      </footer>
    </section>
  </div>
</Section>
