---
import { resume } from "@/data/resume"
import { useTranslate } from "@/i18n/utils"
import Section from "../Section.astro"

const lang = Astro.currentLocale

const { experience } = resume
const t = useTranslate(lang)
---

<Section title={t("EXPERIENCE_TEXT")}>
  <div class='flex flex-col gap-4 mt-2'>
    {
      experience.map((job) => {
        const { company, start, title, description } = job

        return (
          <div class='print:p-0'>
            <header class='flex justify-between items-center'>
              <h3 class='font-bold print:text-sm text-neutral-600'>
                {company} - {title}
              </h3>
              <span class='text-neutral-600 text-xs font-mono'>{start}</span>
            </header>
            <footer class='text-sm mt-2 leading-relaxed print:mt-1 font-mono text-pretty'>
              <p>
                {lang === "en" && description.en}
                {lang === "es" && description.es}
              </p>
            </footer>
          </div>
        )
      })
    }
  </div>
</Section>
