---
import { resume } from "@/data/resume"
import { useTranslate } from "@/i18n/utils"
import Section from "../Section.astro"

const lang = Astro.currentLocale

const { experience } = resume
const t = useTranslate(lang)
---

<Section title={t("EXPERIENCE_TEXT")}>
  <ol class='relative border-s border-neutral-300 mt-4'>
    {
      experience.map(({ company, start, title, description }) => (
        <li class='my-0 ms-5'>
          <div class='absolute size-3 print:size-2 bg-neutral-300 rounded-full print:mt-2 mt-1.5 -start-1.5 print:-start-1 border border-white print:border-neutral-300' />
          <div class='flex items-center gap-5'>
            <h3 class='font-bold print:text-sm text-neutral-600'>
              {company} - {title}
            </h3>
            &bullet;
            <time class='text-xs print:text-[10px] text-sky-700'>{start}</time>
          </div>
          <p class='font-size-content text-neutral-700 mt-2'>
            {lang === "en" && description.en}
            {lang === "es" && description.es}
          </p>
        </li>
      ))
    }
  </ol>
</Section>
