---
import { resume } from "@/data/resume"
import clsx from "clsx"
import SocialIcons from "../SocialIcons.astro"

const lang = Astro.currentLocale
---

<div
  class={clsx(
    "flex md:flex-row flex-col print:flex-row",
    "items-start md:items-center md:justify-between",
    "gap-10 mb-2 mx-6 lg:mx-0 ",
    "print:gap-6 print:mt-[20px]",
  )}
>
  <img
    src='/avatar.webp'
    alt='portrait'
    class='size-36 print:size-[155px] rounded-xl flex'
  />

  <div class='grid gap-2'>
    <h1 class='font-size-title'>{resume.name}</h1>

    <h2 class='max-w-3xl leading-relaxed mb-0'>
      {lang === "en" && resume.description.en}
      {lang === "es" && resume.description.es}
    </h2>

    <SocialIcons />
  </div>
</div>
