---
import Section from "@/components/Section.astro"
import Arrow from "@/components/icons/Arrow.astro"
---

<Section title={"Idiomas"}>
  <div class='grid gap-2 print:mt-5'>
    <p class="flex items-center gap-1 text-[12px] md:text-base">
      <span class="font-bold">Español</span>
      <Arrow />
      <span>Nativo</span>
    </p>
    <p class="flex items-center gap-1 text-[12px] md:text-base">
      <span class="font-bold">Ingles</span>
      <Arrow />
      <span>B1</span>
    </p>
  </div>
</Section>
