---
import { resume } from "@/data/resume"
import Section from "../Section.astro"
import SkillCard from "../SkillCard.astro"

const stack = resume.stack

import { useTranslate } from "@/i18n/utils"
const t = useTranslate(Astro.currentLocale)
---

<Section title={t("SKILLS_TEXT")}>
  <div class='flex flex-wrap gap-3 print:mt-5 mt-2'>
    {stack.map((tag) => <SkillCard name={tag} />)}
  </div>
</Section>
