---
interface Props {
  title: string
  class?: string
}

const { title, class: className } = Astro.props
---

<div class:list={["mx-6 lg:mx-0 mt-10 print:mt-6 flex flex-col", className]}>
  <h2 class='font-size-subtitle mb-3 print:mb-0 text-emerald-700'>
    {title}
  </h2>
  <div class="border-t border-neutral-300 mt-1 mb-2"></div>
  <slot />
</div>
