---
import { socialLinks } from "@/data/socialLinks"
import Download from "./icons/Download.astro"
---

<div class='flex flex-wrap gap-2 md:gap-3 mt-3 print:gap-3 print:mt-1'>
  {
    socialLinks.map((link) => (
      <a
        href={link.url}
        target='_blank'
        class:list={[
          "border p-1 py-0.5 group rounded-lg print:rounded-md border-neutral-700/20 bg-neutral-400/10 flex gap-2 items-center justify-center",
          link.printable === false && "print:hidden",
          link.visible === false && "hidden print:flex",
        ]}
      >
        <link.icon
          width='16'
          class='print:w-3 group-hover:text-black transition duration-300 print:text-neutral-800'
        />
        <span class='sr-only'>Go to my {link.name}</span>
        <p class='hidden print:block print:text-sm'>{link.print}</p>
      </a>
    ))
  }
  <a
    href='/cristian-ruben-resume.pdf'
    target='_blank'
    class='border p-1 py-0.5 group rounded-lg print:rounded-md border-neutral-700/20 bg-neutral-400/10 flex gap-2 print:hidden justify-center items-center'
  >
    <Download
      width='16'
      class='w-3 print:w-3 group-hover:text-black transition duration-300'
    />
    <span class='text-sm'>Descargar CV</span>
  </a>
</div>
