---
import Seo from "@/components/Seo.astro"
import "@/layouts/main.css"

const lang = Astro.currentLocale
---

<html lang={lang}>
  <head>
    <Seo />
  </head>
  <body class='w-full'>
    <main class='print:w-[700px] w-[880px] mx-auto max-w-full md:py-14 py-8'>
      <slot />
    </main>
  </body>
</html>
